@import './scss/font';
@import './scss/base';

body {
  background: rgb(63, 186, 118);
  color: rgba(34, 41, 44, 0.7);
  transition: all 0.3s ease;

  ::selection {
    background-color: rgba(34, 41, 44, 0.3);
    color: rgb(255,255,255);
  }
}

h1 {
  display: block;
  font-weight: normal;
  text-transform: lowercase;
  line-height: 1;
  margin-bottom: 10px;
}
