@font-face {
  font-family: "KlavikaLight";
  src: url("./fonts/KlavikaLight/KlavikaLight.eot");
  src: url("./fonts/KlavikaLight/KlavikaLight.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/KlavikaLight/KlavikaLight.woff2") format("woff2"),
    url("./fonts/KlavikaLight/KlavikaLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KlavikaRegular";
  src: url("./fonts/KlavikaRegular/KlavikaRegular.eot");
  src: url("./fonts/KlavikaRegular/KlavikaRegular.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/KlavikaRegular/KlavikaRegular.woff2") format("woff2"),
    url("./fonts/KlavikaRegular/KlavikaRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}